.nav {
    display: flex;
    flex-direction: column;
    padding: 20px 300px;
    width: 50%;

    .items {
        display: flex;
        justify-content: space-around;
        background-color: #DCE1DE;
        font-size: 20px;
        
        li {
            list-style: none;
            
            a {
                text-decoration: none;
                color: #216869;
                
                &:visited {
                    color: #216869;
                }

                &:hover {
                    color: #49A078;
                    transition: all 0.18s ease-in-out;

                }
            }
        }
    }

    hr {
        margin-top: 20px;
        border: 0.5px solid #216869;
    }
}

@media (max-width: 600px) {
    .nav {
        .items {
            li {
                padding: 0px 10px;
            }
        }
    }
} 